#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
}
*,
*::before,
*::after {
  box-sizing: content-box;
}
@media screen and (max-width: 419px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .row{
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (min-width:420px) and (max-width:820px){
  .row{
    margin-right: 0px;
    margin-left: 0px;
  }
}